header{
    background-color:white ;
    text-align: center;

}

nav{
    background-color:gray;
}

ul ,  li {
    list-style : ninguno;
}

 nav  >  li {
    float : izquierda;
}

nav  li  a {
    color :black ; 
    text-decoration:none;
   padding : 10 px  12 px ;
   display :block;
}

  nav  li  ul {
    display : none;
    position : absolute;
    min-width: 140 px ;
}

nav  li :hover  >  ul {
    display : block;
}

nav  li  ul  li {
    position: relative;
}

nav  li  ul  li  ul {
    right: -140 píxeles ;
    top : 0 píxeles ;
}
ul.nav-item{
    height: 0;
    overflow:hidden;
}
#menu:target .nav-item{
    height: 15.8em;
}
section{
    background-color:#FFF7BC ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

article{
    padding-left: 30px;
    background-color:#DAB88B ;
    grid-column:1/4 ;
    
}

aside{
    background-color:#DAB88B ;
    grid-column: 4/5;
}

footer{
    background-color:gray ;
    padding: 47px;
}